html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 400;
}
* {
  box-sizing: border-box;
}
body {
  background-color:#5D5C61;
  color: white;
  font-size: 1em;
}
.header {
  font-family: 'Rubik Iso', cursive;
  font-style: normal;
  max-width: 50vw;
  margin: 0 auto;
  margin-top: 10vh;
}
.wrapper {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
.wrapper__line {
  height: 2px;
  width: 100%;
  background-color: #727272;
}
.accord__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrow_btn {
  width: 25px;
  height: 25px;
  margin-right: 0.9rem;
  transition: all 0.3s;
  transform: rotate(45deg);
}
.accord_pict {
  width: 0;
  height: 0;
  transition: all 0.4s;
}
.accord__title {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.9rem 0 0 0.9rem;
  color:rgb(14, 14, 192);
  transition: all 0.4s;
}
.wrap_accord__item {
  background-color: #e3dcdc;
}
.accord__input:checked~label .accord_pict,
.wrap_accord__item:hover .accord_pict {
  width: 50%;
  height: 50%;
  padding: 10px 0;
}
.accord__input:checked~label .arrow_btn,
.wrap_accord__item:hover .arrow_btn {
  transform: rotate(-90deg);
}
.accord__input:checked~label .accord__title{
  color: black;
}
.wrap_accord__item,
.accord__btn,
.accord_pict {
  cursor: pointer;
}
.wrapper:hover .accord__title {
  color: black;
}
.wrapper:hover .arrow_btn {
  background: url('../assets/closehamburger.svg') center/cover no-repeat;
}